@include exports( "widgets.assetmanager/layout" ) {
    .kj-assetmanager {
        .k-tabstrip.k-tabstrip-left {
            border: none;

            // Tabs on the left
            .k-tabstrip-items {
                // TODO add background color
                li.k-first {
                    top: 0.5em;
                }
            }

            // Tab content on the right
            > div.k-content {
                padding: 0;
                border: 0;

                .k-filebrowser {
                    padding: 0.5em;

                    .k-filebrowser-toolbar {
                        align-items: start;
                        margin: 0;
                        // left
                        .k-toolbar-wrap {
                            .k-upload {
                                margin-right: 0.5em;
                                z-index: 1; // otherwise the upload button has a z-index higher than editor windows
                                .k-icon {
                                    vertical-align: middle;
                                }
                            }

                            .k-button {
                                margin-right: 0.25em;
                            }
                        }

                        // right
                        .k-tiles-arrange {
                            display: flex;
                            align-items: center;
                            max-width: 60%;

                            .k-progressbar {
                                color: inherit;
                                max-width: 40%;
                                margin-right: 0.5em;
                            }

                            .k-textbox {
                                width: 100%;

                                .k-icon {
                                    color: inherit;
                                }

                                /*
                                .k-search {
                                    top: 50%;
                                    margin: -8px 0 0;
                                }
                                */
                            }
                        }
                    }

                    .k-listview.k-tiles {
                        border-top-width: 1px;
                        height: 400px;
                        margin: 0;
                        overflow: auto;

                        .k-listview-content {
                            display: flex;
                            flex-wrap: wrap;

                            .k-tile {
                                // width: 88px;
                                .k-image {
                                    width: 80px;
                                    height: auto;
                                }
                            }
                        }
                    }

                    .k-pager-wrap.k-floatwrap {
                        border-top: 0;
                    }
                }
            }
        }
    }
    // Any editor window that the asset manager opens
    .kj-assetmanager-window.k-content {
        &.kj-no-padding {
            padding: 0;
        }

        &.kj-hidden-overflow {
            overflow: hidden;
        }
    }
}
