@include exports( "widgets.quiz/layout" ) {
    //*******************
    // Drop Down List
    //*******************
    .k-dropdown,
    .k-animation-container .k-list {
        font-size: inherit;

        .kj-quiz-item.kj-quiz-dropdown {
            > .k-image {
                background-size: cover;
                background-position: center;
                display: inline-block;
                vertical-align: text-bottom;
                width: 1.1em;
                height: 1.1em;
                margin-right: 0.25em;
            }
            // >.k-text {}
        }
    }

    .kj-quiz {
        &.k-state-disabled,
        .k-state-disabled {
            opacity: 1;
            color: inherit;

            .k-button {
                color: inherit;
            }
        }

        .kj-quiz-item {
            box-sizing: border-box !important; // fixes button alignment on iPhone

            //*******************
            // Buttons
            //*******************
            &.kj-quiz-button {
                margin-bottom: 0.2em;
                margin-right: 0.2em;
                // Fiori has a different padding
                padding: 2px 7px 2px;
                // Material capitalizes text
                text-transform: none;
                font-family: inherit;
                line-height: 1.72em;

                > .k-image {
                    background-size: cover;
                    background-position: center;
                    display: inline-block;
                    vertical-align: text-bottom;
                    width: 1.1em;
                    height: 1.1em;
                    margin-right: 0.25em;
                }
                // >.k-text {}
            }

            //*******************
            // Images
            //*******************
            &.kj-quiz-image {
                cursor: pointer;
                display: inline-block;
                position: relative;
                height: 100px;
                width: 100px;
                // margin-bottom: 0.3em;
                margin-right: 0.3em;

                > .k-image {
                    background-size: cover;
                    background-position: center;
                    position: absolute;
                    top: 10%;
                    bottom: 10%;
                    left: 10%;
                    right: 10%;
                    width: auto;
                    height: auto;
                }
                // >.k-text {
                //     position: absolute;
                //     bottom: 10px;
                //     left: 10px;
                //     right: 10px;
                //     height: 1em;
                //     width: auto;
                //     white-space: nowrap;
                //     overflow: hidden;
                //     text-overflow: ellipsis;
                //     text-align: center;
                //     opacity: .8;
                // }
            }

            //*******************
            // Links
            //*******************
            &.kj-quiz-link {
                cursor: pointer;

                &::after {
                    content: '\0020'; // space
                }
                // &.k-state-selected {}
            }

            //*******************
            // Radios
            //*******************
            &.kj-quiz-radio {
                align-items: center;
                display: flex;

                // Radio
                input.k-radio {
                    height: 0.8em;
                    width: 0.8em;

                    &::before {
                        font-size: inherit;
                        height: 0.5em; // auto;
                        width: 0.5em; // auto;
                    }
                }

                // Label
                .k-radio-label {
                    align-items: center;
                    display: flex;
                    line-height: inherit;
                    margin-left: 0.2em;

                    > .k-image {
                        background-size: cover;
                        background-position: center;
                        // display: inline-block;
                        height: 1.1em;
                        margin-right: 0.2em;
                        // vertical-align: text-bottom;
                        width: 1.1em;
                    }
                    // >.k-text {}
                }
            }
        }
    }
    // Fixes a .k-ff defect in Firefox
    // See https://github.com/kidoju/Kidoju-Widgets/issues/116
    // See https://github.com/jlchereau/Kidoju-Webapp/issues/164
    .k-ff {
        .kj-quiz {
            .kj-quiz-item.kj-quiz-button {
                padding-bottom: initial;
                padding-top: initial;
            }
        }
    }

}
