@include exports( "widgets.explorer/layout" ) {
    .kj-explorer {
        .kj-placeholder {
            opacity: 0.4;
        }
    }

    // drag and drop hints are not embedded in .kj-explorer
    .k-item.kj-explorer-item {
        cursor: pointer;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        user-select: none;

        .k-in {
            align-items: center;
            display: flex;

            .k-image {
                height: 1.5rem;
                width: 1.5rem;
                margin-right: 0.5rem;
            }

            .k-text {
                // https://css-tricks.com/flexbox-truncated-text/
                flex: 1 1 0;
                min-width: 0;
                white-space: nowrap;

                em {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
