@include exports( "widgets.imagelist/layout" ) {
    .m-imagelist {
        > .k-toolbar {
            // border-bottom: none;
            border-left: none;
            border-right: none;
            border-top: none;
        }

        > .k-listview {
            border: none;
            margin: 0;
            padding: 0;

            .k-icon {
                color: inherit;
            }
        }
    }

    // Cursor
    body > .k-list-item > .m-handle,
    .m-imagelist > .k-listview:not(.k-disabled) > .k-listview-content > .k-list-item > .m-handle {
        cursor: move;
    }

    // we also need body > k-list-item for draggable hints
    body,
    .m-imagelist > .k-listview > .k-listview-content {
        > .k-list-item {
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            padding: 2px;

            > .m-handle {
                width: 1rem;
            }

            > .m-input-wrap {
                flex: 1 1 auto;
                overflow: hidden;
                position: relative;
                text-overflow: ellipsis;
                white-space: nowrap;

                input {
                    width: 100%;
                }

                .k-validation-msg {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }

            > .m-buttons {
                align-items: center;
                display: flex;
                flex: 0 0 auto;
                flex-flow: row nowrap;

                .k-image {
                    width: 2rem;
                }

                .k-button,
                .k-image {
                    height: 2rem;

                    &:first-child {
                        border-radius: 0.25rem 0 0 0.25rem;
                    }

                    &:last-child {
                        border-radius: 0 0.25rem 0.25rem 0;
                    }
                }
            }
        }
    }

    // Tooltips
    .k-tooltip {
        .m-imagelist-tooltip {
            background-position: center;
            background-size: cover;
            height: 150px;
            width: 150px;

            .m-imagelist-title {
                background-color: rgba(255, 255, 255, 0.5);
                bottom: 0;
                color: #000;
                left: 0;
                padding: 1em;
                position: absolute;
                right: 0;
                text-overflow: ellipsis;
            }
        }
    }
}
