@include exports( "widgets.imagelist/layout" ) {
    .kj-imagelist {
        > .k-toolbar {
            // border-bottom: none;
            border-left: none;
            border-right: none;
            border-top: none;
        }

        > .k-listview {
            border: none;
            padding: 0;
            margin: 0;

            .k-icon {
                color: inherit;
            }
        }
    }

    // Cursor
    body > .k-list-item > .kj-handle,
    .kj-imagelist > .k-listview:not(.k-state-disabled) > .k-list-item > .kj-handle {
        cursor: move;
    }

    // we also need body > k-list-item for draggable hints
    body,
    .kj-imagelist > .k-listview {
        > .k-list-item {
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            padding: 2px;

            > .kj-handle {
                width: 1em;
            }

            > .kj-input-wrap {
                flex: 1 1 auto;
                overflow: hidden;
                position: relative;
                text-overflow: ellipsis;
                white-space: nowrap;

                input {
                    width: 100%;
                }

                .k-textbox,
                .k-dateinput-wrap,
                    // .k-dropdown-wrap,
                    // .k-picker-wrap,
                    // .k-multiselect-wrap,
                .k-numeric-wrap {
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;

                    .k-select {
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                    }
                }

                .k-tooltip-validation {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }

            > .kj-buttons {
                align-items: center;
                display: flex;
                flex: 0 0 auto;
                flex-flow: row nowrap;

                .k-image {
                    height: 2.3125em;
                    width: 2.3125em;
                }

                .k-button {
                    height: 2.3125em;

                    &:not(:last-child) {
                        border-radius: 0;
                    }

                    &:last-child {
                        border-radius: 0 0.25em 0.25em 0;
                    }
                }
            }
        }
    }

    // Tooltips
    .k-tooltip {
        .kj-imagelist-tooltip {
            background-position: center;
            background-size: cover;
            height: 150px;
            width: 150px;

            .kj-imagelist-title {
                background-color: rgba(255, 255, 255, 0.5);
                bottom: 0;
                color: #000;
                left: 0;
                padding: 1em;
                position: absolute;
                right: 0;
                text-overflow: ellipsis;
            }
        }
    }
}
