@include exports( 'widgets.propertygrid/layout' ) {
    .kj-propertygrid {
        &.k-grid {
            tbody {
                .k-button {
                    // Otherwise the ImageList has large buttons when embedded within a PropertyGrid
                    // min-width: initial;
                }

                .k-icon.k-i-help {
                    float: right;
                    // margin-top: 0.2em;
                }
            }
        }

        > .k-resize-handle {
            bottom: 0;
            cursor: col-resize;
            height: auto !important; // because of .k-grid > .k-resize-handle
            position: absolute;
            top: 0;
            width: 10px;
            z-index: 2;
        }
    }
}
