{
    "presets": [
        "env"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "extensions": [".es6"],
                "root": ["."],
                "alias": {
                    "jquery": "./src/js/vendor/jquery/jquery-3.3.1.min.js",
                    "kendo.core": "./src/js/vendor/kendo/kendo.core.js",
                    "kendo.data": "./src/js/vendor/kendo/kendo.data.js",
                    "kendo.binder": "./src/js/vendor/kendo/kendo.binder.js"
                }
            }
        ]
    ]
}
