{
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    },
    // Webpack does not need the plugin section to build, kept for SystemJS
    "plugins": [
        [
            "module-resolver",
            {
                "cwd": "babelrc", // "packagejson"
                "extensions": [".es6", ".js", ".mjs"],
                "root": [
                    ".",
                    "./test/vendor/",
                    // "./src/js/vendor/**",
                    "./src/js/vendor/kendo/",
                    "./src/js/vendor/kendo/cultures/",
                    "./src/js/vendor/kendo/messages/"
                ],
                "alias": {
                    // This takes over externals in webpack and includes jQuery in the builds
                    // "jquery": "./src/js/vendor/jquery/jquery-3.6.1.min.js"
                }
            }
        ],
        ["@babel/plugin-syntax-dynamic-import"],
        [
            "@babel/transform-runtime",
            {
                // @see https://babeljs.io/docs/en/babel-plugin-transform-runtime
                "helpers": false, // defaults to true
                // "polyfill": false, // defaults to true
                "regenerator": true, // defaults to true
                // "moduleName": "babel-runtime" // defaults to "babel-runtime"
                "useESModules": true,
                "corejs": 3
            }
        ]
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "corejs": 3,
                "useBuiltIns": "entry"
            }
        ]
    ]
}
