### Supported browsers
### https://github.com/browserslist/browserslist

## https://github.com/twbs/bootstrap/blob/v4.3.1/.browserslistrc
## https://github.com/telerik/kendo-themes/issues/780
## https://github.com/GoogleChrome/workbox/issues/1567

> 0.25%
not dead
ie 11 ## needed for Babel to handle exports properly
