/coverage/
/errorShots/
/data/
/docs/
/graphics/
/logs/
/node_modules/
/nodejs/
/platforms/
/plugins/
/src/js/experiments/
/src/js/vendor/
/src/styles/
/temp/
/test/browser/experiments/
/test/vendor/
/webapp/public/
**/*.js
!*.js
!/webapp/server.js
