{
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {},
  "rules": {
    "no-debugger": 0,
    "strict": 0,
    "semi": 0,
    "linebreak-style": [
      2,
      "unix"
    ],
    "no-bitwise": 0,
    "no-cond-assign": [
      2,
      "except-parens"
    ],
    "curly": 2,
    "eqeqeq": 2,
    "no-eq-null": 0,
    "no-eval": 0,
    "no-unused-expressions": 2,
    "guard-for-in": 0,
    "wrap-iife": [
      2,
      "any"
    ],
    "no-use-before-define": 0,
    "no-loop-func": 0,
    "no-caller": 0,
    "no-script-url": 0,
    "no-shadow": 2,
    "no-new-func": 0,
    "no-new-wrappers": 0,
    "no-undef": 2,
    "no-invalid-this": 0,
    "no-proto": 0,
    "no-multi-str": 2,
    "comma-style": [
      2,
      "last"
    ],
    "no-iterator": 0,
    "block-scoped-var": 0,
    "new-cap": 0,
    "no-empty": [
      2,
      {
        "allowEmptyCatch": true
      }
    ],
    "no-new": 0,
    "no-plusplus": 0,
    "dot-notation": 2,
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "max-params": [
      2,
      5
    ],
    "max-depth": [
      2,
      4
    ],
    "max-statements": [
      2,
      25
    ],
    "complexity": [
      2,
      7
    ],
    "no-with": 2,
    "no-mixed-spaces-and-tabs": 2,
    "one-var": [
      2,
      "never"
    ],
    "quote-props": [
      2,
      "as-needed",
      {
        "keywords": true
      }
    ],
    "space-unary-ops": [
      2,
      {
        "words": false,
        "nonwords": false
      }
    ],
    "space-before-function-paren": [
      2,
      "always"
    ],
    "array-bracket-spacing": [
      2,
      "always",
      {
        "objectsInArrays": false
      }
    ],
    "space-in-parens": [
      2,
      "never"
    ],
    "comma-dangle": [
      2,
      "never"
    ],
    "no-trailing-spaces": 2,
    "camelcase": [
      2,
      {
        "properties": "never"
      }
    ],
    "eol-last": 2,
    "space-infix-ops": 2,
    "keyword-spacing": [
      2,
      {}
    ],
    "spaced-comment": [
      2,
      "always"
    ]
  }
}
