# Ignore OS files
Desktop.ini
$RECYCLE.BIN/
.DS_Store
Thumbs.db
*.diff
*.err
*.log
*.zip

# Ignore Webstorm files
.idea/
coverage/

# Ignore Docs
docs/

# Ignore Node files
node_modules/

# Ignore Grunt Files
validation-status.json
validation-report.json

# Ignore Kendo UI
2014.*/

# Ignore Dummy Files
temp/