# Ignore OS files
.DS_Store
Desktop.ini
Thumbs.db
*.diff
*.err
*.log
*.zip

# Ignore Webstorm files
.idea/
coverage/

# Ignore Docs
docs/

# Ignore Node files
node_modules/

# Ignore Grunt Files
validation-status.json
validation-report.json

# Ignore Kendo UI
src/js/2013.*/
src/styles/2013.*/
src/js/2014.*/
src/styles/2014.*/

# Ignore Dummy Files
temp/