# Ignore OS files
Desktop.ini
$RECYCLE.BIN/
.DS_Store
Thumbs.db
*.diff
*.err
*.log
*.zip

# Ignore Webstorm files
.idea/

# Ignore MongoDB database
/data/
*.archive

# Ignore Node files
node_modules/
logs/
*.log

# Ignore test files
.nyc_output/
coverage/
errorShots/
# lib-cov/
simulation/
webapp/public/build/gremlins.min.js

# Ignore cordova
# http://stackoverflow.com/questions/29970885/cordova-5-0-0-which-files-should-i-commit-to-git
/.cordova/
/.gradle/
/platforms/
/plugins/

# Ignore Grunt Files
validation-status.json
validation-report.json

# Ignore Dummy Files
temp/
