@import '../../../node_modules/@progress/kendo-theme-bootstrap/scss/variables';
@import '../../../node_modules/@progress/kendo-theme-bootstrap/scss/mixins';

//---------------------------------------------
// MathQuill
//---------------------------------------------
.mq-editable-field,
.mq-math-mode {
    background-color: $input-bg; /* $select-background-color; */
    border-color: $component-border-color;
    border-radius: $border-radius;
    color: $input-text;

    .mq-selection {
        /* This is the default windows selection color */
        background-color: #0561d1 !important;
        border: 0;
        color: #fff;
    }

    .mq-selection.mq-blur {
        /* This is the default windows selection color */
        background-color: #0561d1 !important;
        border: 0;
        color: #fff;
    }
}

.mq-editable-field:hover,
.mq-math-mode:hover {
    border-color: $hover-border-color;
}

.mq-editable-field:focus,
.mq-editable-field.mq-focused,
.mq-math-mode:focus,
.mq-math-mode.mq-focused {
    @include box-shadow('none');
    @include box-shadow($focused-shadow);
    border-radius: $border-radius;
}
