.kj-propertygrid.k-grid tbody .k-icon.k-i-help {
  float: right; }

.kj-propertygrid > .k-resize-handle {
  cursor: col-resize;
  position: absolute;
  top: 0;
  bottom: 0;
  height: auto !important;
  width: 10px;
  z-index: 2; }
