/*!
 * Agate by Taufik Nurrohman <https://github.com/tovic>
 * ----------------------------------------------------
 *
 * #ade5fc
 * #a2fca2
 * #c6b4f0
 * #d36363
 * #fcc28c
 * #fc9b9b
 * #ffa
 * #fff
 * #333
 * #62c8f3
 * #888
 *
 */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #ffffff;
  color: #212529;
}

.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-code,
.hljs-emphasis {
  font-style: italic;
}

.hljs-tag {
  color: #0275d8;
}

.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-selector-class {
  color: #5bc0de;
}

.hljs-string,
.hljs-bullet {
  color: #5cb85c;
}

.hljs-type,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-quote,
.hljs-built_in,
.hljs-builtin-name {
  color: #f0ad4e;
}

.hljs-number,
.hljs-symbol,
.hljs-bullet {
  color: #e67d4a;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #d9534f;
}

.hljs-comment,
.hljs-deletion,
.hljs-code {
  color: #212529;
  outline: none;
  cursor: default;
  opacity: 0.65;
  filter: grayscale(0.1);
  pointer-events: none;
  box-shadow: none;
}

.hljs-regexp,
.hljs-link {
  color: #007bff;
}

.hljs-meta {
  color: #5bc0de;
}

.hljs-deletion {
  background-color: #f8d7da;
  color: #721c24;
}

.hljs-addition {
  background-color: #d4edda;
  color: #155724;
}

.hljs a {
  color: inherit;
}

.hljs a:focus,
.hljs a:hover {
  color: inherit;
  text-decoration: underline;
}

/*
.hljs-tag, .hljs-keyword, .hljs-selector-tag, .hljs-literal, .hljs-strong, .hljs-name {
    color: #f92672
}

.hljs-code {
    color: #66d9ef
}

.hljs-class .hljs-title {
    color: white
}

.hljs-attribute, .hljs-symbol, .hljs-regexp, .hljs-link {
    color: #bf79db
}

.hljs-string, .hljs-bullet, .hljs-subst, .hljs-title, .hljs-section, .hljs-emphasis, .hljs-type, .hljs-built_in, .hljs-builtin-name, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-addition, .hljs-variable, .hljs-template-tag, .hljs-template-variable {
    color: #a6e22e
}

.hljs-comment, .hljs-quote, .hljs-deletion, .hljs-meta {
    color: #75715e
}

.hljs-keyword, .hljs-selector-tag, .hljs-literal, .hljs-doctag, .hljs-title, .hljs-section, .hljs-type, .hljs-selector-id {
    font-weight: bold
}
*/
.kj-markdown h1, .kj-markdown h2, .kj-markdown h3, .kj-markdown h4, .kj-markdown h5, .kj-markdown h6 {
  font-weight: bold;
}
.kj-markdown h1 {
  font-size: 1.5em;
}
.kj-markdown h2 {
  font-size: 1.17em;
}
.kj-markdown h3 {
  font-size: 1.12em;
}
.kj-markdown h4 {
  font-size: 0.83em;
}
.kj-markdown h5 {
  font-size: 0.75em;
}
.kj-markdown h6 {
  font-size: 0.67em;
}
.kj-markdown table {
  border-collapse: collapse;
}
.kj-markdown table th, .kj-markdown table td {
  padding: 0.25rem;
  border: 1px solid #ccc;
}
.kj-markdown table tbody tr:nth-child(odd) {
  background: #eee;
}
.kj-markdown img.img-responsive {
  width: 100%;
  height: auto;
  max-width: 400px;
}
.kj-markdown img.emoji {
  height: 1.1em;
  width: 1.1em;
  margin: 0 0.1em;
  vertical-align: middle;
}

.km-content .km-listview .kj-markdown p, .km-content .km-listview .kj-markdown h1, .km-content .km-listview .kj-markdown h2, .km-content .km-listview .kj-markdown h3, .km-content .km-listview .kj-markdown h4, .km-content .km-listview .kj-markdown h5, .km-content .km-listview .kj-markdown h6 {
  margin-left: 0;
  margin-right: 0;
}

/*# sourceMappingURL=widgets.markdown.css.map */
