@import "../../../node_modules/@progress/kendo-theme-bootstrap/scss/variables";
@import "../../../node_modules/@progress/kendo-theme-bootstrap/scss/mixins";

// Dependencies

// Component
@import "widgets.social/layout";
@import "widgets.social/theme";
