.kj-explorer .kj-placeholder {
  opacity: 0.4; }

.kj-explorer-item {
  height: 32px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  overflow: hidden; }
  .kj-explorer-item .k-in {
    line-height: 30px; }
    .kj-explorer-item .k-in .kj-image {
      height: 1.5rem;
      width: 1.5rem;
      vertical-align: middle;
      margin-left: 5px;
      margin-right: 10px; }
