.kj-explorer .kj-placeholder {
  opacity: 0.4; }

.kj-explorer-item {
  height: 2rem;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  overflow: hidden; }
  .kj-explorer-item .k-in {
    line-height: 1.875rem; }
    .kj-explorer-item .k-in .kj-image {
      height: 1.5rem;
      width: 1.5rem;
      vertical-align: middle;
      margin-left: 0.25rem;
      margin-right: 0.5rem; }
