@import "../../../node_modules/@progress/kendo-theme-bootstrap/scss/variables";
@import "../../../node_modules/@progress/kendo-theme-bootstrap/scss/mixins";

// Component
@import "widgets.codeinput/layout";
@import "widgets.codeinput/theme";
