.k-dropdown,
.k-animation-container .k-list {
  font-size: inherit;
}
.k-dropdown .kj-quiz-item.kj-quiz-dropdown > .k-image,
.k-animation-container .k-list .kj-quiz-item.kj-quiz-dropdown > .k-image {
  background-size: cover;
  background-position: center;
  display: inline-block;
  vertical-align: text-bottom;
  width: 1.1em;
  height: 1.1em;
  margin-right: 0.25em;
}

.kj-quiz.k-state-disabled,
.kj-quiz .k-state-disabled {
  opacity: 1;
  color: inherit;
}
.kj-quiz.k-state-disabled .k-button,
.kj-quiz .k-state-disabled .k-button {
  color: inherit;
}
.kj-quiz .kj-quiz-item {
  box-sizing: border-box !important;
}
.kj-quiz .kj-quiz-item.kj-quiz-button {
  margin-bottom: 0.2em;
  margin-right: 0.2em;
  padding: 2px 7px 2px;
  text-transform: none;
  font-family: inherit;
  line-height: 1.72em;
}
.kj-quiz .kj-quiz-item.kj-quiz-button > .k-image {
  background-size: cover;
  background-position: center;
  display: inline-block;
  vertical-align: text-bottom;
  width: 1.1em;
  height: 1.1em;
  margin-right: 0.25em;
}
.kj-quiz .kj-quiz-item.kj-quiz-image {
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100px;
  margin-right: 0.3em;
}
.kj-quiz .kj-quiz-item.kj-quiz-image > .k-image {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  width: auto;
  height: auto;
}
.kj-quiz .kj-quiz-item.kj-quiz-link {
  cursor: pointer;
}
.kj-quiz .kj-quiz-item.kj-quiz-link::after {
  content: " ";
}
.kj-quiz .kj-quiz-item.kj-quiz-radio {
  align-items: center;
  display: flex;
}
.kj-quiz .kj-quiz-item.kj-quiz-radio input.k-radio {
  height: 0.8em;
  width: 0.8em;
}
.kj-quiz .kj-quiz-item.kj-quiz-radio input.k-radio::before {
  font-size: inherit;
  height: 0.5em;
  width: 0.5em;
}
.kj-quiz .kj-quiz-item.kj-quiz-radio .k-radio-label {
  align-items: center;
  display: flex;
  line-height: inherit;
  margin-left: 0.2em;
}
.kj-quiz .kj-quiz-item.kj-quiz-radio .k-radio-label > .k-image {
  background-size: cover;
  background-position: center;
  height: 1.1em;
  margin-right: 0.2em;
  width: 1.1em;
}

.k-ff .kj-quiz .kj-quiz-item.kj-quiz-button {
  padding-bottom: initial;
  padding-top: initial;
}

.k-black .kj-quiz.k-state-disabled .kj-quiz-button.k-state-selected {
  color: #fff;
  background-color: #06c;
  border-color: #0069d1;
}

.k-blueopal .kj-quiz.k-state-disabled .kj-quiz-button.k-state-selected {
  color: #fff;
  background-color: #13688c;
  border-color: #146b90;
}

.k-bootstrap .kj-quiz.k-state-disabled .kj-quiz-button.k-state-selected {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}

.k-default .kj-quiz.k-state-disabled .kj-quiz-button.k-state-selected {
  color: #fff;
  background-color: #f35800;
  border-color: #f85a00;
}

.k-fiori .kj-quiz.k-state-disabled .kj-quiz-button.k-state-selected {
  color: #fff;
  background-color: #007cc0;
  border-color: #005483;
}

.k-flat .kj-quiz.k-state-disabled .kj-quiz-button.k-state-selected {
  color: #fff;
  background-color: #10c4b2;
  border-color: #10c4b2;
}

.k-highcontrast .kj-quiz.k-state-disabled .kj-quiz-button.k-state-selected {
  color: #fff;
  background-color: #870074;
  border-color: #870074;
}

.k-material .kj-quiz .kj-quiz-button.k-state-selected,
.k-material .kj-quiz.k-state-disabled .kj-quiz-button.k-state-selected,
.k-materialblack .kj-quiz .kj-quiz-button.k-state-selected,
.k-materialblack .kj-quiz.k-state-disabled .kj-quiz-button.k-state-selected {
  color: #fff;
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.k-metro .kj-quiz.k-state-disabled .kj-quiz-button.k-state-selected {
  color: #fff;
  background-color: #7ea700;
  border-color: #7ea700;
}

.k-metroblack .kj-quiz.k-state-disabled .kj-quiz-button.k-state-selected {
  color: #fff;
  background-color: #008886;
  border-color: #008886;
}

.k-moonlight .kj-quiz.k-state-disabled .kj-quiz-button.k-state-selected {
  color: #171e28;
  background-color: #f4af03;
  border-color: #f9b303;
}

.k-nova .kj-quiz.k-state-disabled .kj-quiz-button.k-state-selected {
  color: #fff;
  background-color: #ff4350;
  border-color: #ff4350;
}

.k-office365 .kj-quiz.k-state-disabled .kj-quiz-button.k-state-selected {
  color: #fff;
  background-color: #0072c6;
  border-color: #0072c6;
}

.k-silver .kj-quiz.k-state-disabled .kj-quiz-button.k-state-selected {
  color: #fff;
  background-color: #1984c8;
  border-color: #1a87cd;
}

.k-uniform .kj-quiz.k-state-disabled .kj-quiz-button.k-state-selected {
  color: #454545;
  background-color: #eee;
  border-color: #cdcdcd;
}

.km-nova .kj-quiz input.k-radio {
  display: none;
}

/*# sourceMappingURL=widgets.quiz.css.map */
