// TODO: replace png sprites with SVG icons

@include exports( 'widgets.stage/layout' ) {
    .kj-stage {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-weight: normal;
        height: 100%; // to match scaling
        text-align: initial; // For playbar tooltips

        /*
        .kj-element {
            input.k-textbox {
                text-indent: initial;
            }

            input:not([type]),
            input[type='email'],
            input[type='number'],
            input[type='password'],
            input[type='tel'],
            input[type='url'],
            input[type='text'] {
                padding-left: 2px !important;
                padding-right: 2px !important;
            }
        }
         */

        .kj-element-result {
            height: 0 !important;
            position: relative;
        }

        .kj-adorner {
            border: 1px solid darkgray;
            // padding: 20px;
            // margin: -20px;
            cursor: default;
            opacity: 0.5;

            .kj-handle {
                background: url('../images/handler.png') no-repeat left top;
                cursor: pointer;
                display: block;
                height: 36px;
                pointer-events: all;
                position: absolute;
                width: 36px;
                z-index: 0;
            }

            .kj-handle[data-action='move'] {
                background-position: left -144px;
                left: -9px;
                top: -10px;
            }

            .kj-handle[data-action='resize'] {
                background-position: left -72px;
                bottom: -10px;
                right: -13px;
            }

            .kj-handle[data-action='rotate'] {
                background-position: left -36px;
                right: -13px;
                top: -10px;
            }

            .kj-handle[data-action='menu'] {
                background-position: left -108px;
                bottom: -10px;
                left: -9px;
            }
        }

        // .kj-overlay { }
        .kj-nopage {
            font-size: xx-large;
        }
    }
}
