// TODO: replace png sprites with SVG icons

@include exports( "widgets.stage/layout" ) {
    .kj-stage {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-weight: normal;
        text-align: initial; // For playbar tooltips
        transform-origin: center center;

        .kj-element {
            input.k-textbox {
                text-indent: initial;
            }

            input:not([type]),
            input[type="email"],
            input[type="number"],
            input[type="password"],
            input[type="tel"],
            input[type="url"],
            input[type="text"] {
                padding-left: 2px !important;
                padding-right: 2px !important;
            }

            span.k-maskedtextbox,
            span.k-numerictextbox {
                width: auto;
            }
        }

        .kj-element-result {
            position: relative;
            height: 0 !important;
        }

        .kj-adorner {
            border: 1px solid darkgray;
            opacity: 0.5;
            // padding: 20px;
            // margin: -20px;
            cursor: default;

            .kj-handle {
                pointer-events: all;
                position: absolute;
                display: block;
                width: 36px;
                height: 36px;
                background: url('../images/handler.png') no-repeat left top;
                cursor: pointer;
                z-index: 0;
            }

            .kj-handle[data-action="move"] {
                left: -9px;
                top: -10px;
                background-position: left -144px;
            }

            .kj-handle[data-action="resize"] {
                bottom: -10px;
                right: -13px;
                background-position: left -72px;
            }

            .kj-handle[data-action="rotate"] {
                top: -10px;
                right: -13px;
                background-position: left -36px;
            }

            .kj-handle[data-action="menu"] {
                left: -9px;
                bottom: -10px;
                background-position: left -108px;
            }
        }

        // .kj-overlay { }
        .kj-nopage {
            font-size: xx-large;
        }
    }
}
