.k-dialog .k-notification-wrap {
  white-space: initial;
}
.k-dialog .k-notification-wrap span.k-icon {
  margin-right: 0.7em;
}
.k-dialog .kj-dialog-flexrow {
  display: flex;
  align-items: flex-start;
  line-height: 2em;
}
.k-dialog .kj-dialog-flexrow.k-toolbar {
  padding: 0.5em 1em;
}
.k-dialog .kj-dialog-flexrow:not(.k-toolbar) {
  margin-top: 1em;
}
.k-dialog .kj-dialog-flexrow .k-input,
.k-dialog .kj-dialog-flexrow .k-textbox {
  width: 100%;
}
.k-dialog .kj-dialog-flexrow .kj-align-right {
  text-align: right;
}
.k-dialog .kj-dialog-flexrow .kj-dialog-col10 {
  width: 10%;
}
.k-dialog .kj-dialog-flexrow .kj-dialog-col25 {
  width: 25%;
}
.k-dialog .kj-dialog-flexrow .kj-dialog-col30 {
  width: 30%;
}
.k-dialog .kj-dialog-flexrow .kj-dialog-col50 {
  width: 50%;
}
.k-dialog .kj-dialog-flexrow .kj-dialog-col75 {
  width: 75%;
}
.k-dialog .k-dialog-buttongroup .k-button .k-image {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.25em;
  vertical-align: middle;
}
.k-dialog .k-spreadsheet .k-content {
  padding: 0;
}
