.kj-keypad {
  position: absolute;
  z-index: 999999;
  bottom: 0;
  left: 0;
  width: 100%;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.kj-keypad .kj-keypad-board {
  width: 100%;
}
.kj-keypad .kj-keypad-board .kj-keypad-pad .kj-keypad-row {
  display: flex;
  text-align: center;
}
.kj-keypad .kj-keypad-board .kj-keypad-pad .kj-keypad-row .kj-keypad-button {
  background: #111;
  border-radius: 5px;
  color: #fff;
  cursor: default;
  margin: 0.15vw;
  padding: 0.5vw;
  width: 100%;
}
.kj-keypad .kj-keypad-board .kj-keypad-pad .kj-keypad-row .kj-keypad-button:hover {
  background: #333;
  cursor: pointer;
}
