/* Error: Undefined mixin.
 *    ,
 * 10 |             @include use-background-clip();
 *    |             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   ..\widgets\widgets.codeinput\_theme.scss 10:13                                                                                       @content
 *   ..\..\..\node_modules\@progress\kendo-theme-bootstrap\modules\@progress\kendo-theme-default\scss\core\mixins\_import-once.scss 12:9  exports()
 *   ..\widgets\widgets.codeinput\_theme.scss 1:1                                                                                         @import
 *   ..\widgets\widgets.codeinput.scss 6:9                                                                                                @import
 *   ..\template\_app.theme.scss 27:9                                                                                                     @import
 *   app.theme.black.scss 7:9                                                                                                             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 10 \2502              @include use-background-clip();\a    \2502              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   ..\\widgets\\widgets.codeinput\\_theme.scss 10:13                                                                                       @content\a   ..\\..\\..\\node_modules\\@progress\\kendo-theme-bootstrap\\modules\\@progress\\kendo-theme-default\\scss\\core\\mixins\\_import-once.scss 12:9  exports()\a   ..\\widgets\\widgets.codeinput\\_theme.scss 1:1                                                                                         @import\a   ..\\widgets\\widgets.codeinput.scss 6:9                                                                                                @import\a   ..\\template\\_app.theme.scss 27:9                                                                                                     @import\a   app.theme.black.scss 7:9                                                                                                             root stylesheet";
}
