.kj-multicheckbox {
    .kj-multicheckbox-item {
        margin-bottom: 0.15em;
    }
    .k-checkbox-label {
        vertical-align: initial;
    }
}
// Fixes a .km-nova defect in Kidoju-Mobile
.km-nova {
    .kj-multicheckbox {
        input[type=checkbox] {
            opacity: 0;
        }
    }
}
