.k-spreadsheet-window.kj-markeditor-window {
    .kj-mathinput-toolbar {
        // To counteract padding
        margin-top: -1.167em;
        margin-left: -0.75em;
        margin-right: -0.75em;
        margin-bottom: 0.75em;
    }
    // This fixes .k-spreadsheet-window .k-edit-label (27% is too large)
    .k-edit-label {
        width: 10%;
    }
    .k-edit-field {
        width: 80%;
    }
}
