.kj-mathinput .mq-editable-field .mq-cursor {
    border-left: 2px solid #78c008 !important;
    border-radius: 1px;
    margin-left: -1px !important;
    margin-right: -1px !important;
    margin-bottom: 2px;
}
.kj-mathinput .mq-editable-field .mq-non-leaf .mq-cursor:only-child {
    border: 2px solid #78c008 !important;
    /* bright-green color */
    padding: 0 4px 0 4px;
}
.kj-mathinput .mq-empty {
    background: transparent !important;
}
.kj-mathinput .mq-empty:not(.mq-root-block):after {
    visibility: visible !important;
    /* hides the 'c' content added by MathQuill to measure the width */
    color: transparent;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 1px;
    padding: 0 4px 0 4px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: 2px;
}
.kj-mathinput .mq-editable-field .mq-non-leaf .mq-cursor:only-child {
    visibility: visible !important;
    /* disable default blink behavior */
    border: 2px solid #78c008 !important;
    /* bright-green color */
    padding: 0 4px 0 4px;
}
.kj-mathinput .mq-empty {
    background: transparent !important;
}
/* also adds empty block styling to elements with .mq-hasCursor but without a cursor element (this happens where the cursor is when the math input loses focus) */
.kj-mathinput .mq-empty:not(.mq-root-block):after,
.kj-mathinput .mq-hasCursor:empty:not(.mq-root-block):after {
    visibility: visible !important;
    /* hides the 'c' content added by MathQuill to measure the width */
    color: transparent;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 1px;
    padding: 0 4px 0 4px;
    margin-left: -1px;
    margin-right: -1px;
}
.kj-mathinput .mq-selection .mq-empty:not(.mq-root-block):after {
    border-color: #ffffff;
}
.kj-mathinput .mq-hasCursor:empty:not(.mq-root-block):after {
    /* place a c inside for sizing the cursor (for the case explained above); normally, MathQuill already does this for .mq-cursor */
    content: 'c';
}
.kj-mathinput .mq-math-mode .mq-selection .mq-non-leaf,
.kj-mathinput .mq-editable-field .mq-selection .mq-non-leaf {
    background: #78c008 !important;
    color: white !important;
    border-color: white !important;
}
.kj-mathinput .mq-math-mode .mq-selection .mq-scaled,
.kj-mathinput .mq-editable-field .mq-selection .mq-scaled {
    background: transparent !important;
    color: white !important;
    border-color: transparent !important;
}
.kj-mathinput .mq-selection {
    display: inline-block !important;
    background: #78c008 !important;
    color: white !important;
    border-color: white !important;
}
.kj-mathinput-popup {
    max-width: 242px;
}
.kj-mathinput-toolbar .k-icon,
.kj-mathinput-popup .k-icon,
.kj-mathinput-toolbar .k-font-icon,
.kj-mathinput-popup .k-font-icon {
    font: 16px/1 Symbola !important;
}
.kj-mathinput-toolbar .k-icon.k-i-arrow-s,
.kj-mathinput-popup .k-icon.k-i-arrow-s,
.kj-mathinput-toolbar .k-icon.k-i-textbox,
.kj-mathinput-popup .k-icon.k-i-textbox {
    font: 16px/1 WebComponentsIcons !important;
}
.kj-mathinput-toolbar .k-i-backspace:before,
.kj-mathinput-popup .k-i-backspace:before {
    content: "\232b";
}
.kj-mathinput-toolbar .k-i-comma:before,
.kj-mathinput-popup .k-i-comma:before {
    content: "\002c";
}
.kj-mathinput-toolbar .k-i-stop:before,
.kj-mathinput-popup .k-i-stop:before {
    content: "\002e";
}
.kj-mathinput-toolbar .k-i-n0:before,
.kj-mathinput-popup .k-i-n0:before {
    content: "\0030";
}
.kj-mathinput-toolbar .k-i-n1:before,
.kj-mathinput-popup .k-i-n1:before {
    content: "\0031";
}
.kj-mathinput-toolbar .k-i-n2:before,
.kj-mathinput-popup .k-i-n2:before {
    content: "\0032";
}
.kj-mathinput-toolbar .k-i-n3:before,
.kj-mathinput-popup .k-i-n3:before {
    content: "\0033";
}
.kj-mathinput-toolbar .k-i-n4:before,
.kj-mathinput-popup .k-i-n4:before {
    content: "\0034";
}
.kj-mathinput-toolbar .k-i-n5:before,
.kj-mathinput-popup .k-i-n5:before {
    content: "\0035";
}
.kj-mathinput-toolbar .k-i-n6:before,
.kj-mathinput-popup .k-i-n6:before {
    content: "\0036";
}
.kj-mathinput-toolbar .k-i-n7:before,
.kj-mathinput-popup .k-i-n7:before {
    content: "\0037";
}
.kj-mathinput-toolbar .k-i-n8:before,
.kj-mathinput-popup .k-i-n8:before {
    content: "\0038";
}
.kj-mathinput-toolbar .k-i-n9:before,
.kj-mathinput-popup .k-i-n9:before {
    content: "\0039";
}
.kj-mathinput-toolbar .k-i-a:before,
.kj-mathinput-popup .k-i-a:before {
    content: "\0061";
}
.kj-mathinput-toolbar .k-i-b:before,
.kj-mathinput-popup .k-i-b:before {
    content: "\0062";
}
.kj-mathinput-toolbar .k-i-c:before,
.kj-mathinput-popup .k-i-c:before {
    content: "\0063";
}
.kj-mathinput-toolbar .k-i-i:before,
.kj-mathinput-popup .k-i-i:before {
    content: "\0069";
}
.kj-mathinput-toolbar .k-i-j:before,
.kj-mathinput-popup .k-i-j:before {
    content: "\006a";
}
.kj-mathinput-toolbar .k-i-k:before,
.kj-mathinput-popup .k-i-k:before {
    content: "\006b";
}
.kj-mathinput-toolbar .k-i-n:before,
.kj-mathinput-popup .k-i-n:before {
    content: "\006e";
}
.kj-mathinput-toolbar .k-i-p:before,
.kj-mathinput-popup .k-i-p:before {
    content: "\0070";
}
.kj-mathinput-toolbar .k-i-q:before,
.kj-mathinput-popup .k-i-q:before {
    content: "\0071";
}
.kj-mathinput-toolbar .k-i-x:before,
.kj-mathinput-popup .k-i-x:before {
    content: "\0078";
}
.kj-mathinput-toolbar .k-i-y:before,
.kj-mathinput-popup .k-i-y:before {
    content: "\0079";
}
.kj-mathinput-toolbar .k-i-z:before,
.kj-mathinput-popup .k-i-z:before {
    content: "\007a";
}
.kj-mathinput-toolbar .k-i-infinity:before,
.kj-mathinput-popup .k-i-infinity:before {
    content: "\221e";
}
.kj-mathinput-toolbar .k-i-space:before,
.kj-mathinput-popup .k-i-space:before {
    content: "\fe48";
}
.kj-mathinput-toolbar .k-icon.k-i-sqrt,
.kj-mathinput-popup .k-icon.k-i-sqrt,
.kj-mathinput-toolbar .k-icon.k-i-cubert,
.kj-mathinput-popup .k-icon.k-i-cubert,
.kj-mathinput-toolbar .k-icon.k-i-nthroot,
.kj-mathinput-popup .k-icon.k-i-nthroot,
.kj-mathinput-toolbar .k-icon.k-i-frac,
.kj-mathinput-popup .k-icon.k-i-frac,
.kj-mathinput-toolbar .k-icon.k-i-pow,
.kj-mathinput-popup .k-icon.k-i-pow,
.kj-mathinput-toolbar .k-icon.k-i-pow2,
.kj-mathinput-popup .k-icon.k-i-pow2,
.kj-mathinput-toolbar .k-icon.k-i-pow3,
.kj-mathinput-popup .k-icon.k-i-pow3,
.kj-mathinput-toolbar .k-icon.k-i-subscript,
.kj-mathinput-popup .k-icon.k-i-subscript,
.kj-mathinput-toolbar .k-icon.k-i-sin,
.kj-mathinput-popup .k-icon.k-i-sin,
.kj-mathinput-toolbar .k-icon.k-i-cos,
.kj-mathinput-popup .k-icon.k-i-cos,
.kj-mathinput-toolbar .k-icon.k-i-tan,
.kj-mathinput-popup .k-icon.k-i-tan {
    font: 16px/1 kidoju !important;
}
.kj-mathinput-toolbar .k-i-sqrt:before,
.kj-mathinput-popup .k-i-sqrt:before {
    content: "\221a";
}
.kj-mathinput-toolbar .k-i-cubert:before,
.kj-mathinput-popup .k-i-cubert:before {
    content: "\221b";
}
.kj-mathinput-toolbar .k-i-nthroot:before,
.kj-mathinput-popup .k-i-nthroot:before {
    content: "\221c";
}
.kj-mathinput-toolbar .k-i-frac:before,
.kj-mathinput-popup .k-i-frac:before {
    content: "\e700";
}
.kj-mathinput-toolbar .k-i-pow:before,
.kj-mathinput-popup .k-i-pow:before {
    content: "\e701";
}
.kj-mathinput-toolbar .k-i-pow2:before,
.kj-mathinput-popup .k-i-pow2:before {
    content: "\e702";
}
.kj-mathinput-toolbar .k-i-pow3:before,
.kj-mathinput-popup .k-i-pow3:before {
    content: "\e703";
}
.kj-mathinput-toolbar .k-i-subscript:before,
.kj-mathinput-popup .k-i-subscript:before {
    content: "\e704";
}
.kj-mathinput-toolbar .k-i-sin:before,
.kj-mathinput-popup .k-i-sin:before {
    content: "\e710";
}
.kj-mathinput-toolbar .k-i-cos:before,
.kj-mathinput-popup .k-i-cos:before {
    content: "\e711";
}
.kj-mathinput-toolbar .k-i-tan:before,
.kj-mathinput-popup .k-i-tan:before {
    content: "\e712";
}
.kj-mathinput-toolbar .k-i-alpha:before,
.kj-mathinput-popup .k-i-alpha:before {
    content: "\03b1";
}
.kj-mathinput-toolbar .k-i-beta:before,
.kj-mathinput-popup .k-i-beta:before {
    content: "\03b2";
}
.kj-mathinput-toolbar .k-i-gamma:before,
.kj-mathinput-popup .k-i-gamma:before {
    content: "\03b3";
}
.kj-mathinput-toolbar .k-i-delta:before,
.kj-mathinput-popup .k-i-delta:before {
    content: "\03b4";
}
.kj-mathinput-toolbar .k-i-epsilon:before,
.kj-mathinput-popup .k-i-epsilon:before {
    content: "\03b5";
}
.kj-mathinput-toolbar .k-i-zeta:before,
.kj-mathinput-popup .k-i-zeta:before {
    content: "\03b6";
}
.kj-mathinput-toolbar .k-i-eta:before,
.kj-mathinput-popup .k-i-eta:before {
    content: "\03b7";
}
.kj-mathinput-toolbar .k-i-theta:before,
.kj-mathinput-popup .k-i-theta:before {
    content: "\03b8";
}
.kj-mathinput-toolbar .k-i-iota:before,
.kj-mathinput-popup .k-i-iota:before {
    content: "\03b9";
}
.kj-mathinput-toolbar .k-i-kappa:before,
.kj-mathinput-popup .k-i-kappa:before {
    content: "\03ba";
}
.kj-mathinput-toolbar .k-i-lambda:before,
.kj-mathinput-popup .k-i-lambda:before {
    content: "\03bb";
}
.kj-mathinput-toolbar .k-i-mu:before,
.kj-mathinput-popup .k-i-mu:before {
    content: "\03bc";
}
.kj-mathinput-toolbar .k-i-nu:before,
.kj-mathinput-popup .k-i-nu:before {
    content: "\03bd";
}
.kj-mathinput-toolbar .k-i-xi:before,
.kj-mathinput-popup .k-i-xi:before {
    content: "\03be";
}
.kj-mathinput-toolbar .k-i-omicron:before,
.kj-mathinput-popup .k-i-omicron:before {
    content: "\03bf";
}
.kj-mathinput-toolbar .k-i-pi:before,
.kj-mathinput-popup .k-i-pi:before {
    content: "\03c0";
}
.kj-mathinput-toolbar .k-i-rho:before,
.kj-mathinput-popup .k-i-rho:before {
    content: "\03c1";
}
.kj-mathinput-toolbar .k-i-sigma:before,
.kj-mathinput-popup .k-i-sigma:before {
    content: "\03c3";
}
.kj-mathinput-toolbar .k-i-tau:before,
.kj-mathinput-popup .k-i-tau:before {
    content: "\03c4";
}
.kj-mathinput-toolbar .k-i-upsilon:before,
.kj-mathinput-popup .k-i-upsilon:before {
    content: "\03c5";
}
.kj-mathinput-toolbar .k-i-phi:before,
.kj-mathinput-popup .k-i-phi:before {
    content: "\03c6";
}
.kj-mathinput-toolbar .k-i-chi:before,
.kj-mathinput-popup .k-i-chi:before {
    content: "\03c7";
}
.kj-mathinput-toolbar .k-i-psi:before,
.kj-mathinput-popup .k-i-psi:before {
    content: "\03c8";
}
.kj-mathinput-toolbar .k-i-omega:before,
.kj-mathinput-popup .k-i-omega:before {
    content: "\03c9";
}
.kj-mathinput-toolbar .k-i-alpha-maj:before,
.kj-mathinput-popup .k-i-alpha-maj:before {
    content: "\0391";
}
.kj-mathinput-toolbar .k-i-beta-maj:before,
.kj-mathinput-popup .k-i-beta-maj:before {
    content: "\0392";
}
.kj-mathinput-toolbar .k-i-gamma-maj:before,
.kj-mathinput-popup .k-i-gamma-maj:before {
    content: "\0393";
}
.kj-mathinput-toolbar .k-i-delta-maj:before,
.kj-mathinput-popup .k-i-delta-maj:before {
    content: "\0394";
}
.kj-mathinput-toolbar .k-i-epsilon-maj:before,
.kj-mathinput-popup .k-i-epsilon-maj:before {
    content: "\0395";
}
.kj-mathinput-toolbar .k-i-zeta-maj:before,
.kj-mathinput-popup .k-i-zeta-maj:before {
    content: "\0396";
}
.kj-mathinput-toolbar .k-i-eta-maj:before,
.kj-mathinput-popup .k-i-eta-maj:before {
    content: "\0397";
}
.kj-mathinput-toolbar .k-i-theta-maj:before,
.kj-mathinput-popup .k-i-theta-maj:before {
    content: "\0398";
}
.kj-mathinput-toolbar .k-i-iota-maj:before,
.kj-mathinput-popup .k-i-iota-maj:before {
    content: "\0399";
}
.kj-mathinput-toolbar .k-i-kappa-maj:before,
.kj-mathinput-popup .k-i-kappa-maj:before {
    content: "\039a";
}
.kj-mathinput-toolbar .k-i-lambda-maj:before,
.kj-mathinput-popup .k-i-lambda-maj:before {
    content: "\039b";
}
.kj-mathinput-toolbar .k-i-mu-maj:before,
.kj-mathinput-popup .k-i-mu-maj:before {
    content: "\039c";
}
.kj-mathinput-toolbar .k-i-nu-maj:before,
.kj-mathinput-popup .k-i-nu-maj:before {
    content: "\039d";
}
.kj-mathinput-toolbar .k-i-xi-maj:before,
.kj-mathinput-popup .k-i-xi-maj:before {
    content: "\039e";
}
.kj-mathinput-toolbar .k-i-omicron-maj:before,
.kj-mathinput-popup .k-i-omicron-maj:before {
    content: "\039f";
}
.kj-mathinput-toolbar .k-i-pi-maj:before,
.kj-mathinput-popup .k-i-pi-maj:before {
    content: "\03a0";
}
.kj-mathinput-toolbar .k-i-rho-maj:before,
.kj-mathinput-popup .k-i-rho-maj:before {
    content: "\03a1";
}
.kj-mathinput-toolbar .k-i-sigma-maj:before,
.kj-mathinput-popup .k-i-sigma-maj:before {
    content: "\03a3";
}
.kj-mathinput-toolbar .k-i-tau-maj:before,
.kj-mathinput-popup .k-i-tau-maj:before {
    content: "\03a4";
}
.kj-mathinput-toolbar .k-i-upsilon-maj:before,
.kj-mathinput-popup .k-i-upsilon-maj:before {
    content: "\03a5";
}
.kj-mathinput-toolbar .k-i-phi-maj:before,
.kj-mathinput-popup .k-i-phi-maj:before {
    content: "\03a6";
}
.kj-mathinput-toolbar .k-i-chi-maj:before,
.kj-mathinput-popup .k-i-chi-maj:before {
    content: "\03a7";
}
.kj-mathinput-toolbar .k-i-psi-maj:before,
.kj-mathinput-popup .k-i-psi-maj:before {
    content: "\03a8";
}
.kj-mathinput-toolbar .k-i-omega-maj:before,
.kj-mathinput-popup .k-i-omega-maj:before {
    content: "\03a9";
}
.kj-mathinput-toolbar .k-i-and:before,
.kj-mathinput-popup .k-i-and:before {
    content: "\2227";
}
.kj-mathinput-toolbar .k-i-or:before,
.kj-mathinput-popup .k-i-or:before {
    content: "\2228";
}
.kj-mathinput-toolbar .k-i-equal:before,
.kj-mathinput-popup .k-i-equal:before {
    content: "\003d";
}
.kj-mathinput-toolbar .k-i-plus:before,
.kj-mathinput-popup .k-i-plus:before {
    content: "\002b";
}
.kj-mathinput-toolbar .k-i-minus:before,
.kj-mathinput-popup .k-i-minus:before {
    content: "\002d";
}
.kj-mathinput-toolbar .k-i-plusminus:before,
.kj-mathinput-popup .k-i-plusminus:before {
    content: "\00b1";
}
.kj-mathinput-toolbar .k-i-times:before,
.kj-mathinput-popup .k-i-times:before {
    content: "\00d7";
}
.kj-mathinput-toolbar .k-i-div:before,
.kj-mathinput-popup .k-i-div:before {
    content: "\00f7";
}
.kj-mathinput-toolbar .k-i-percent:before,
.kj-mathinput-popup .k-i-percent:before {
    content: "\0025";
}
.kj-mathinput-toolbar .k-i-factorial:before,
.kj-mathinput-popup .k-i-factorial:before {
    content: "\0021";
}
.kj-mathinput-toolbar .k-i-lt:before,
.kj-mathinput-popup .k-i-lt:before {
    content: "\003c";
}
.kj-mathinput-toolbar .k-i-le:before,
.kj-mathinput-popup .k-i-le:before {
    content: "\2264";
}
.kj-mathinput-toolbar .k-i-gt:before,
.kj-mathinput-popup .k-i-gt:before {
    content: "\03b1";
}
.kj-mathinput-toolbar .k-i-ge:before,
.kj-mathinput-popup .k-i-ge:before {
    content: "\2265";
}
.kj-mathinput-toolbar .k-i-approx:before,
.kj-mathinput-popup .k-i-approx:before {
    content: "\2248";
}
.kj-mathinput-toolbar .k-i-nequal:before,
.kj-mathinput-popup .k-i-nequal:before {
    content: "\2260";
}
.kj-mathinput-toolbar .k-i-cset:before,
.kj-mathinput-popup .k-i-cset:before {
    content: "\2102";
}
.kj-mathinput-toolbar .k-h-iset:before,
.kj-mathinput-popup .k-h-iset:before {
    content: "\210d";
}
.kj-mathinput-toolbar .k-i-nset:before,
.kj-mathinput-popup .k-i-nset:before {
    content: "\2115";
}
.kj-mathinput-toolbar .k-i-pset:before,
.kj-mathinput-popup .k-i-pset:before {
    content: "\2119";
}
.kj-mathinput-toolbar .k-i-qset:before,
.kj-mathinput-popup .k-i-qset:before {
    content: "\211a";
}
.kj-mathinput-toolbar .k-i-rset:before,
.kj-mathinput-popup .k-i-rset:before {
    content: "\211d";
}
.kj-mathinput-toolbar .k-i-zset:before,
.kj-mathinput-popup .k-i-zset:before {
    content: "\2124";
}
.kj-mathinput-toolbar .k-i-emptyset:before,
.kj-mathinput-popup .k-i-emptyset:before {
    content: "\2205";
}
.kj-mathinput-toolbar .k-i-forall:before,
.kj-mathinput-popup .k-i-forall:before {
    content: "\2200";
}
.kj-mathinput-toolbar .k-i-exists:before,
.kj-mathinput-popup .k-i-exists:before {
    content: "\2203";
}
.kj-mathinput-toolbar .k-i-nexists:before,
.kj-mathinput-popup .k-i-nexists:before {
    content: "\2204";
}
.kj-mathinput-toolbar .k-i-in:before,
.kj-mathinput-popup .k-i-in:before {
    content: "\220a";
}
.kj-mathinput-toolbar .k-i-nin:before,
.kj-mathinput-popup .k-i-nin:before {
    content: "\2209";
}
.kj-mathinput-toolbar .k-i-subset:before,
.kj-mathinput-popup .k-i-subset:before {
    content: "\2282";
}
.kj-mathinput-toolbar .k-i-nsubset:before,
.kj-mathinput-popup .k-i-nsubset:before {
    content: "\2284";
}
.kj-mathinput-toolbar .k-i-intersection:before,
.kj-mathinput-popup .k-i-intersection:before {
    content: "\2229";
}
.kj-mathinput-toolbar .k-i-union:before,
.kj-mathinput-popup .k-i-union:before {
    content: "\222a";
}
.kj-mathinput-toolbar .k-i-implies:before,
.kj-mathinput-popup .k-i-implies:before {
    content: "\21d2";
}
.kj-mathinput-toolbar .k-i-nimplies:before,
.kj-mathinput-popup .k-i-nimplies:before {
    content: "\21cf";
}
