.kj-mediaplayer {
    position: relative;
}
.kj-mediaplayer .kj-mediaplayer-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.kj-mediaplayer .kj-mediaplayer-toolbar .kj-mediaplayer-button {
    border-radius: 60%;
}
.kj-mediaplayer .kj-mediaplayer-toolbar .kj-mediaplayer-seeker,
.kj-mediaplayer .kj-mediaplayer-toolbar .kj-mediaplayer-volume {
    margin: 0 0.5em;
    display: inline-block;
}
.kj-mediaplayer .kj-mediaplayer-toolbar .kj-mediaplayer-seeker {
}
.kj-mediaplayer .kj-mediaplayer-toolbar .kj-mediaplayer-volume {
}
