.kj-mathinput .mq-editable-field .mq-cursor {
    border-left: 2px solid #78c008 !important;
    border-radius: 1px;

    margin-left: -1px !important;
    margin-right: -1px !important;
    margin-bottom: 2px;
}

.kj-mathinput .mq-editable-field .mq-non-leaf .mq-cursor:only-child {
    border: 2px solid #78c008 !important; /* bright-green color */
    padding: 0 4px 0 4px;
}

.kj-mathinput .mq-empty {
    background: transparent !important;
}

.kj-mathinput .mq-empty:not(.mq-root-block):after {
    visibility: visible !important;

    /* hides the 'c' content added by MathQuill to measure the width */
    color: transparent;

    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 1px;
    padding: 0 4px 0 4px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: 2px;
}

.kj-mathinput .mq-editable-field .mq-non-leaf .mq-cursor:only-child {
    visibility: visible !important; /* disable default blink behavior */
    border: 2px solid #78c008 !important; /* bright-green color */
    padding: 0 4px 0 4px;
}

.kj-mathinput .mq-empty {
    background: transparent !important;
}

/* also adds empty block styling to elements with .mq-hasCursor but without a cursor element (this happens where the cursor is when the math input loses focus) */
.kj-mathinput .mq-empty:not(.mq-root-block):after, .kj-mathinput .mq-hasCursor:empty:not(.mq-root-block):after {
    visibility: visible !important;

    /* hides the 'c' content added by MathQuill to measure the width */
    color: transparent;

    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 1px;
    padding: 0 4px 0 4px;
    margin-left: -1px;
    margin-right: -1px;
}

.kj-mathinput .mq-selection .mq-empty:not(.mq-root-block):after {
    border-color: #ffffff;
}

.kj-mathinput .mq-hasCursor:empty:not(.mq-root-block):after {
    /* place a c inside for sizing the cursor (for the case explained above); normally, MathQuill already does this for .mq-cursor */
    content: 'c';
}

.kj-mathinput .mq-math-mode .mq-selection .mq-non-leaf,
.kj-mathinput .mq-editable-field .mq-selection .mq-non-leaf
{
    background: #78c008 !important;
    color: white !important;
    border-color: white !important;
}

.kj-mathinput .mq-math-mode .mq-selection .mq-scaled,
.kj-mathinput .mq-editable-field .mq-selection .mq-scaled
{
    background: transparent !important;
    color: white !important;
    border-color: transparent !important;
}

.kj-mathinput .mq-selection {
    display: inline-block !important;
    background: #78c008 !important;
    color: white !important;
    border-color: white !important;
}


// ----------------------------------------------------------------------------------------------------
// Symbola font icons
// ----------------------------------------------------------------------------------------------------

.kj-mathinput-popup {
    max-width: 242px;
}

.kj-mathinput-toolbar, .kj-mathinput-popup {

    .k-icon, .k-font-icon {
        font: 18px/1 Symbola !important;
    }

    // ------------------
    // Exceptions
    // ------------------
    .k-icon
    {
        &.k-i-arrow-s,
        &.k-i-textbox {
            font: 16px/1 WebComponentsIcons !important;
        }
    }

    // ------------------
    // Backspace
    // ------------------
    .k-i-backspace:before {content:"\232b";}

    // ------------------
    // KeyPad
    // ------------------
    .k-i-comma:before {content:"\002c";}
    .k-i-stop:before {content:"\002e";}
    .k-i-n0:before {content:"\0030";}
    .k-i-n1:before {content:"\0031";}
    .k-i-n2:before {content:"\0032";}
    .k-i-n3:before {content:"\0033";}
    .k-i-n4:before {content:"\0034";}
    .k-i-n5:before {content:"\0035";}
    .k-i-n6:before {content:"\0036";}
    .k-i-n7:before {content:"\0037";}
    .k-i-n8:before {content:"\0038";}
    .k-i-n9:before {content:"\0039";}
    .k-i-a:before {content:"\0061";}
    .k-i-b:before {content:"\0062";}
    .k-i-c:before {content:"\0063";}
    .k-i-i:before {content:"\0069";}
    .k-i-j:before {content:"\006a";}
    .k-i-k:before {content:"\006b";}
    .k-i-n:before {content:"\006e";}
    .k-i-p:before {content:"\0070";}
    .k-i-q:before {content:"\0071";}
    .k-i-x:before {content:"\0078";}
    .k-i-y:before {content:"\0079";}
    .k-i-z:before {content:"\007a";}
    .k-i-infinity:before {content:"\221e";}
    .k-i-space:before {content:"\fe48";}
    // ------------------
    // Basic
    // ------------------
    .k-icon {
        &.k-i-sqrt,
        &.k-i-cubert,
        &.k-i-nthroot,
        &.k-i-frac,
        &.k-i-pow,
        &.k-i-pow2,
        &.k-i-pow3,
        &.k-i-subscript,
        &.k-i-sin,
        &.k-i-cos,
        &.k-i-tan {
            font: 16px/1 kidoju !important;
        }
    }

    .k-i-sqrt:before {content:"\221a";}
    .k-i-cubert:before {content:"\221b";}
    .k-i-nthroot:before {content:"\221c";}
    .k-i-frac:before {content:"\e700";}
    .k-i-pow:before {content:"\e701";}
    .k-i-pow2:before {content:"\e702";}
    .k-i-pow3:before {content:"\e703";}
    .k-i-subscript:before {content:"\e704";}
    .k-i-sin:before {content:"\e710";}
    .k-i-cos:before {content:"\e711";}
    .k-i-tan:before {content:"\e712";}

    // ------------------
    // Greek (lowercase)
    // ------------------
    .k-i-alpha:before {content:"\03b1";}
    .k-i-beta:before {content:"\03b2";}
    .k-i-gamma:before {content:"\03b3";}
    .k-i-delta:before {content:"\03b4";}
    .k-i-epsilon:before {content:"\03b5";}
    .k-i-zeta:before {content:"\03b6";}
    .k-i-eta:before {content:"\03b7";}
    .k-i-theta:before {content:"\03b8";}
    .k-i-iota:before {content:"\03b9";}
    .k-i-kappa:before {content:"\03ba";}
    .k-i-lambda:before {content:"\03bb";}
    .k-i-mu:before {content:"\03bc";}
    .k-i-nu:before {content:"\03bd";}
    .k-i-xi:before {content:"\03be";}
    .k-i-omicron:before {content:"\03bf";}
    .k-i-pi:before {content:"\03c0";}
    .k-i-rho:before {content:"\03c1";}
    // Note that \03c2 is not represented
    .k-i-sigma:before {content:"\03c3";}
    .k-i-tau:before {content:"\03c4";}
    .k-i-upsilon:before {content:"\03c5";}
    .k-i-phi:before {content:"\03c6";}
    .k-i-chi:before {content:"\03c7";}
    .k-i-psi:before {content:"\03c8";}
    .k-i-omega:before {content:"\03c9";}

    // ------------------
    // Greek (uppercase)
    // ------------------
    .k-i-alpha-maj:before {content:"\0391";}
    .k-i-beta-maj:before {content:"\0392";}
    .k-i-gamma-maj:before {content:"\0393";}
    .k-i-delta-maj:before {content:"\0394";}
    .k-i-epsilon-maj:before {content:"\0395";}
    .k-i-zeta-maj:before {content:"\0396";}
    .k-i-eta-maj:before {content:"\0397";}
    .k-i-theta-maj:before {content:"\0398";}
    .k-i-iota-maj:before {content:"\0399";}
    .k-i-kappa-maj:before {content:"\039a";}
    .k-i-lambda-maj:before {content:"\039b";}
    .k-i-mu-maj:before {content:"\039c";}
    .k-i-nu-maj:before {content:"\039d";}
    .k-i-xi-maj:before {content:"\039e";}
    .k-i-omicron-maj:before {content:"\039f";}
    .k-i-pi-maj:before {content:"\03a0";}
    .k-i-rho-maj:before {content:"\03a1";}
    // Note that \03a2 is not represented
    .k-i-sigma-maj:before {content:"\03a3";}
    .k-i-tau-maj:before {content:"\03a4";}
    .k-i-upsilon-maj:before {content:"\03a5";}
    .k-i-phi-maj:before {content:"\03a6";}
    .k-i-chi-maj:before {content:"\03a7";}
    .k-i-psi-maj:before {content:"\03a8";}
    .k-i-omega-maj:before {content:"\03a9";}

    // ------------------
    // Operators
    // ------------------
    // .k-i-plus:before {content:"\03b1";}

    // ------------------
    // Sets
    // ------------------

}
