.k-popup-edit-form.no-padding {
    padding: 0 !important;
    .k-edit-form-container {
        width: 100%;
        .kj-codeeditor {
            border-style: none;
        }
        .kj-styleeditor {
            border-style: none;
        }
        .k-edit-buttons {
            bottom: 0;
        }
    }
}
