.kj-no-padding {
    padding: 0 !important;
}
.kj-no-padding .k-edit-form-container {
    width: 100%;
}
.kj-no-padding .k-edit-form-container .kj-codeeditor {
    border-style: none;
}
.kj-no-padding .k-edit-form-container .kj-styleeditor {
    border-style: none;
}
.kj-no-padding .k-edit-form-container .k-edit-buttons {
    bottom: 0;
}
