.k-dialog .k-notification-wrap {
    white-space: initial;
}
.k-dialog .k-dialog-buttongroup .k-button .k-image {
    height: 1.25em;
    width: 1.25em;
    margin-right: 0.25em;
    vertical-align: middle;
}
