.kj-validation-edit-form {
  width: 800px;
}
.kj-validation-edit-form .kj-codemirror {
  padding: 0 1em;
}
.kj-validation-edit-form .kj-codemirror .CodeMirror {
  border: solid 1px #c5c5c5;
}
.kj-style-edit-form {
  width: 500px;
}
.kj-style-edit-form .k-edit-label {
  width: 17%;
}
.kj-style-edit-form .k-edit-field {
  width: 77%;
}
.CodeMirror-lint-tooltip {
  z-index: 10100;
}
