.kj-navigation {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border: none;
}
.kj-navigation .kj-placeholder {
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.kj-item {
    cursor: pointer;
}
