.kj-assetmanager {
    .k-tabstrip-left>div.k-content {
        padding: 0;
    }
    .k-filebrowser {
        padding: 0.5em;
        .k-filebrowser-toolbar {
            margin: 0;
        }
        .k-upload {
            .k-icon {
                vertical-align: baseline;
            }
        }
        .k-listview {
            height: 400px;
            overflow: auto;
            border-top-style: none;
        }
    }
}
