.km-widget.km-buttongroup.kj-buttonset {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1px;
}
.km-widget.km-buttongroup.kj-buttonset .km-button.k-button {
    display: initial;
    border-width: 1px;
    margin-left: -1px;
}
.km-widget.km-buttongroup.kj-buttonset.k-state-disabled {
    opacity: 1;
}
.km-widget.km-buttongroup.kj-buttonset.k-state-disabled .km-button.k-button,
.km-widget.km-buttongroup.kj-buttonset.k-state-disabled .km-button.k-button:hover {
    color: inherit;
    background-color: inherit;
}
.km-widget.km-buttongroup.kj-buttonset.k-state-disabled .km-button.k-button:not(.k-state-active) span.k-text,
.km-widget.km-buttongroup.kj-buttonset.k-state-disabled .km-button.k-button:not(.k-state-active) span.k-icon {
    opacity: 0.25;
}
