.kj-buttonset .k-button:not(.k-state-active) {
    color: inherit;
}
.kj-buttonset.k-state-disabled {
    opacity: 1;
}
.kj-buttonset.k-state-disabled .k-button {
    color: inherit;
    background-color: inherit;
}
.kj-buttonset.k-state-disabled .k-button:not(.k-state-active) span.k-text,
.kj-buttonset.k-state-disabled .k-button:not(.k-state-active) span.k-icon {
    opacity: 0.5;
}
