.kj-highlighter {
    user-select: none;
}
.kj-highlighter:not([data-enable="false"]) {
    cursor: pointer;
}
.kj-highlighter .kj-highlighter-active {
    background-color: #ffff00;
    color: #0f0f0f;
}
