@font-face {
    font-family: "kidoju";
    src: url("kidoju.eot");
    src: url("kidoju.eot?#iefix") format("embedded-opentype"), url("kidoju.woff") format("woff"), url("kidoju.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.kf {
    font-family: "kidoju";
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.kf-add:before {
    content: "\f101";
}
.kf-android:before {
    content: "\f102";
}
.kf-apple:before {
    content: "\f103";
}
.kf-submit:before {
    content: "\e320";
}
.kf-blog:before {
    content: "\f104";
}
.kf-datetime:before {
    content: "\f105";
}
.kf-sync:before {
    content: "\e340";
}
.kf-cos:before {
    content: "\e711";
}
.kf-cubert:before {
    content: "\221b";
}
.kf-summary:before {
    content: "\e303";
}
.kf-signout:before {
    content: "\f106";
}
.kf-drawer:before {
    content: "\e300";
}
.kf-ear:before {
    content: "\e360";
}
.kf-view:before {
    content: "\f107";
}
.kf-facebook:before {
    content: "\e510";
}
.kf-feed:before {
    content: "\f108";
}
.kf-search-adv:before {
    content: "\f109";
}
.kf-frac:before {
    content: "\e700";
}
.kf-settings:before {
    content: "\e0da";
}
.kf-google:before {
    content: "\e515";
}
.kf-history:before {
    content: "\e305";
}
.kf-home:before {
    content: "\e0dd";
}
.kf-support:before {
    content: "\f10a";
}
.kf-linkedin:before {
    content: "\e520";
}
.kf-live:before {
    content: "\e525";
}
.kf-signin:before {
    content: "\f10b";
}
.kf-search:before {
    content: "\e0e9";
}
.kf-play:before {
    content: "\e309";
}
.kf-report:before {
    content: "\f10c";
}
.kf-comment:before {
    content: "\f10d";
}
.kf-first:before {
    content: "\e310";
}
.kf-last:before {
    content: "\e313";
}
.kf-previous:before {
    content: "\e311";
}
.kf-next:before {
    content: "\e312";
}
.kf-nthroot:before {
    content: "\221c";
}
.kf-pinterest:before {
    content: "\f10e";
}
.kf-create:before {
    content: "\f10f";
}
.kf-scan:before {
    content: "\e0db";
}
.kf-pow:before {
    content: "\e701";
}
.kf-pow2:before {
    content: "\e702";
}
.kf-pow3:before {
    content: "\e703";
}
.kf-publish:before {
    content: "\f110";
}
.kf-help:before {
    content: "\f111";
}
.kf-share:before {
    content: "\f112";
}
.kf-sin:before {
    content: "\e710";
}
.kf-sqrt:before {
    content: "\221a";
}
.kf-star:before {
    content: "\2605";
}
.kf-star-o:before {
    content: "\2606";
}
.kf-stumbleupon:before {
    content: "\f113";
}
.kf-subscript:before {
    content: "\e704";
}
.kf-tags:before {
    content: "\f114";
}
.kf-tan:before {
    content: "\e712";
}
.kf-score:before {
    content: "\e330";
}
.kf-twitter:before {
    content: "\e550";
}
.kf-user:before {
    content: "\f115";
}
.kf-uservoice:before {
    content: "\f116";
}
.kf-youtube:before {
    content: "\f117";
}
