{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "airbnb-base",
        "prettier"
    ],
    "parser": "babel-eslint",
    "plugins": [
        "prettier"
    ],
    "root": true,
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "no-underscore-dangle": 0,
        "prettier/prettier": ["error", {
            "singleQuote": true,
            "tabWidth": 4
        }]
    },
    "settings": {
        "import/resolver": {
            "babel-module": {}
        }
    }
}
