@include exports( 'widgets.splitbutton/layout' ) {
    .k-popup {
        .k-button {
            .k-image {
                border: 0;
                height: 1.2em;
                outline: 0;
                vertical-align: sub;
                width: 1.2em;
            }

            // .k-icon,
            // .k-image {
            //     margin-right: 0.25em;
            // }
        }
    }

    .k-split-button.kj-split-button {
        align-content: center;
        align-items: stretch;
        border-radius: 0.25rem; // TODO
        display: inline-flex;
        // outline: 0;
        // line-height: 1.72em;
        // vertical-align: middle;

        .k-button {
            &:not(.k-split-button-arrow) {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;

                .k-image {
                    height: 1.5em; // TODO
                    width: 1.5em; // TODO
                }
            }

            &.k-split-button-arrow {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                margin: 0 0 0 -1px; // TODO
                padding-left: 0.4em; // TODO
                padding-right: 0.4em; // TODO
            }
        }
    }
}
