@include exports( 'widgets.codeeditor/layout' ) {
    .kj-codeeditor {
        display: flex;
        flex-direction: row;
        height: 400px;

        // left panel
        .kj-codeeditor-panel {
            height: 100%;
            min-width: initial;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 0 1rem;
            width: 250px;

            .k-edit-label {
                clear: initial;
                float: initial;
                margin: initial;
                padding: initial;
                text-align: initial;
                width: 100%;

                .k-icon {
                    float: right;
                }

                &:nth-child(n+1) {
                    margin-top: 0.5em;
                }
            }

            .k-edit-field {
                clear: initial;
                float: initial;
                margin: initial;
                padding: initial;
                text-align: initial;
                width: 100%;
            }

            .k-edit-buttons {
                // @include appearance( widget ); // Fixes border color
                @include fill(
                    $widget-text,
                    $widget-bg,
                    $widget-border
                );

                align-items: center;
                display: flex;
                flex-direction: row;
                margin-bottom: 0;
                text-align: initial;

                .kj-codeeditor-notification {
                    margin-left: 1rem;

                    .k-notification {
                        margin: 0;
                        padding: $button-padding-y $button-padding-x;
                    }
                }
            }
        }

        // CodeMirror
        .kj-codeeditor-editor {
            height: 100%;
            width: calc(100% - 250px);

            .CodeMirror {
                height: 100%;
            }
        }
    }

    .k-tooltip {
        .kj-codeeditor-json {
            margin: 0;
        }
    }

    .CodeMirror-lint-tooltip {
        z-index: 10100;
    }
}
