@include exports( "widgets.codeeditor/layout" ) {
    .m-codeeditor {
        display: flex;
        flex-direction: row;
        height: 400px;

        // left panel
        .m-codeeditor-panel {
            height: 100%;
            min-width: initial;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 0 1rem;
            width: 250px;

            .k-edit-label {
                clear: initial;
                float: initial;
                margin: initial;
                padding: initial;
                text-align: initial;
                width: 100%;

                .k-icon {
                    float: right;
                }

                &:nth-child(n+1) {
                    margin-top: 0.5em;
                }
            }

            .k-edit-field {
                clear: initial;
                float: initial;
                margin: initial;
                padding: initial;
                text-align: initial;
                width: 100%;
            }
        }

        // CodeMirror
        .m-codeeditor-editor {
            height: 100%;
            width: calc(100% - 250px);

            .CodeMirror {
                height: 100%;
            }
        }
    }

    .k-tooltip {
        .m-codeeditor-json {
            margin: 0;
        }
    }

    .CodeMirror-lint-tooltip {
        z-index: 10100;
    }
}
