@include exports( 'widgets.multiquiz/layout' ) {
    //*******************
    // MultiSelect
    //*******************
    .k-multiselect,
    .k-animation-container .k-list {
        font-size: inherit;

        .k-multiselect-wrap {
            .k-button,
            .k-icon.k-i-close {
                font-size: inherit;
            }
        }

        .kj-multiquiz-item.kj-multiquiz-multiselect {
            > .k-image {
                background-position: center;
                background-size: cover;
                display: inline-block;
                height: 1.1em;
                margin-right: 0.25em;
                vertical-align: text-bottom;
                width: 1.1em;
            }
            // >.k-text {}
        }
    }

    .kj-multiquiz {
        &.k-state-disabled,
        .k-state-disabled {
            color: inherit;
            opacity: 1;

            .k-button {
                color: inherit;
            }
        }

        .kj-multiquiz-item {
            box-sizing: border-box !important; // fixes button alignment on iPhone
            //*******************
            // Buttons
            //*******************
            &.kj-multiquiz-button {
                font-family: inherit;
                line-height: 1.72em;
                margin-bottom: 0.2em;
                margin-right: 0.2em;
                // Fiori has a different padding
                padding: 2px 7px;
                // Material capitalizes text
                text-transform: none;

                >.k-image {
                    background-position: center;
                    background-size: cover;
                    display: inline-block;
                    height: 1.1em;
                    margin-right: 0.25em;
                    vertical-align: text-bottom;
                    width: 1.1em;
                }
                // >.k-text {}
            }

            //*******************
            // Images
            //*******************
            &.kj-multiquiz-image {
                cursor: pointer;
                display: inline-block;
                height: 100px;
                // margin-bottom: 0.3em;
                margin-right: 0.3em;
                position: relative;
                width: 100px;

                > .k-image {
                    background-position: center;
                    background-size: cover;
                    bottom: 10%;
                    height: auto;
                    left: 10%;
                    position: absolute;
                    right: 10%;
                    top: 10%;
                    width: auto;
                }
                // >.k-text {
                //     position: absolute;
                //     bottom: 10px;
                //     left: 10px;
                //     right: 10px;
                //     height: 1em;
                //     width: auto;
                //     white-space: nowrap;
                //     overflow: hidden;
                //     text-overflow: ellipsis;
                //     text-align: center;
                //     opacity: .8;
                // }
            }

            //*******************
            // Links
            //*******************
            &.kj-multiquiz-link {
                cursor: pointer;

                &::after {
                    content: '\0020'; // space
                }
                // &.k-state-selected {}
            }

            //*******************
            // Radios
            //*******************
            &.kj-multiquiz-checkbox {
                align-items: center;
                display: flex;

                // Checkbox
                input.k-checkbox {
                    height: 0.8em;
                    width: 0.8em;

                    &::before {
                        font-size: inherit;
                        height: 1.25em; // auto;
                        width: 1.25em; // auto;
                    }
                }

                // Label
                .k-checkbox-label {
                    align-items: center;
                    display: flex;
                    line-height: inherit;
                    margin-left: 0.2em;

                    > .k-image {
                        background-position: center;
                        background-size: cover;
                        // display: inline-block;
                        height: 1.1em;
                        margin-right: 0.2em;
                        // vertical-align: text-bottom;
                        width: 1.1em;
                    }

                    // >.k-text {}
                }
            }
        }
    }

    // Fixes a .k-ff defect in Firefox
    // See https://github.com/kidoju/Kidoju-Widgets/issues/116
    // See https://github.com/jlchereau/Kidoju-Webapp/issues/164
    .k-ff {
        .kj-multiquiz {
            .kj-multiquiz-item.kj-multiquiz-button {
                padding-bottom: initial;
                padding-top: initial;
            }
        }
    }

}
