/*!
 * Agate by Taufik Nurrohman <https://github.com/tovic>
 * ----------------------------------------------------
 *
 * #ade5fc
 * #a2fca2
 * #c6b4f0
 * #d36363
 * #fcc28c
 * #fc9b9b
 * #ffa
 * #fff
 * #333
 * #62c8f3
 * #888
 *
 */
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #333;
    color: white;
}

.hljs-name,
.hljs-strong {
    font-weight: bold;
}

.hljs-code,
.hljs-emphasis {
    font-style: italic;
}

.hljs-tag {
    color: #62c8f3;
}

.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-selector-class {
    color: #ade5fc;
}

.hljs-string,
.hljs-bullet {
    color: #a2fca2;
}

.hljs-type,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-quote,
.hljs-built_in,
.hljs-builtin-name {
    color: #ffa;
}

.hljs-number,
.hljs-symbol,
.hljs-bullet {
    color: #d36363;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
    color: #fcc28c;
}

.hljs-comment,
.hljs-deletion,
.hljs-code {
    color: #888;
}

.hljs-regexp,
.hljs-link {
    color: #c6b4f0;
}

.hljs-meta {
    color: #fc9b9b;
}

.hljs-deletion {
    background-color: #fc9b9b;
    color: #333;
}

.hljs-addition {
    background-color: #a2fca2;
    color: #333;
}

.hljs a {
    color: inherit;
}

.hljs a:focus,
.hljs a:hover {
    color: inherit;
    text-decoration: underline;
}

/*
.hljs-tag, .hljs-keyword, .hljs-selector-tag, .hljs-literal, .hljs-strong, .hljs-name {
    color: #f92672
}

.hljs-code {
    color: #66d9ef
}

.hljs-class .hljs-title {
    color: white
}

.hljs-attribute, .hljs-symbol, .hljs-regexp, .hljs-link {
    color: #bf79db
}

.hljs-string, .hljs-bullet, .hljs-subst, .hljs-title, .hljs-section, .hljs-emphasis, .hljs-type, .hljs-built_in, .hljs-builtin-name, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-addition, .hljs-variable, .hljs-template-tag, .hljs-template-variable {
    color: #a6e22e
}

.hljs-comment, .hljs-quote, .hljs-deletion, .hljs-meta {
    color: #75715e
}

.hljs-keyword, .hljs-selector-tag, .hljs-literal, .hljs-doctag, .hljs-title, .hljs-section, .hljs-type, .hljs-selector-id {
    font-weight: bold
}
*/
