<!DOCTYPE html>
<html lang="en">
<head>
    <title>dataSourceWidget</title>
    <link rel="stylesheet" href="../src/styles/vendor/kendo/web/kendo.common.min.css">
    <link rel="stylesheet" href="../src/styles/vendor/kendo/web/kendo.rtl.min.css">
    <link rel="stylesheet" href="../src/styles/vendor/kendo/web/kendo.default.min.css">
    <script src="../test/vendor/system.js"></script>
</head>
<body>
<h1>dataSourceWidget</h1>
<h2>Imperative</h2>
<div id="unbound"></div>
<h2>Declarative</h2>
<div id="bound">
    <div data-role="datasourcewidget" data-bind="source: data"></div>
</div>
<script type="text/javascript" charset="utf-8">
    System.config({
        baseURL: './',
        transpiler: 'plugin-babel',
        map: {
            'plugin-babel': '../node_modules/systemjs-plugin-babel/plugin-babel.js',
            'systemjs-babel-build': '../node_modules/systemjs-plugin-babel/systemjs-babel-browser.js',
            'jquery': '../src/js/vendor/jquery/jquery-3.6.3.min.js',
            // http://docs.telerik.com/kendo-ui/third-party/systemjs
            'kendo.core': '../src/js/vendor/kendo/kendo.core.js',
            'kendo.data': '../src/js/vendor/kendo/kendo.data.js',
            'kendo.data.odata': '../src/js/vendor/kendo/kendo.data.odata.js',
            'kendo.data.xml': '../src/js/vendor/kendo/kendo.data.xml.js',
            'kendo.binder': '../src/js/vendor/kendo/kendo.binder.js'
        },
        meta: {
            '*.js' : {
                babelOptions : {
                    es2015 : false,
                    stage2 : false,
                    stage3 : false
                }
            }
        }
    });
    System.import('./dataSourceWidget.es6').then(function () {
        var kendo = window.kendo;
        var viewModel = kendo.observable({
            data: ['a', 'b', 'c']
        });
        $(function () {
            // Imperative
            $('#unbound').kendoDataSourceWidget({
                dataSource: ['a', 'b', 'c']
            });
            // Declarative
            kendo.bind('#bound', viewModel);
        });
    });
</script>
</body>
</html>
