$base-theme:Bootstrap;
$skin-name:memba;
$swatch-name:Memba;
$border-radius: 0.25rem;
$accent: #428bca;
$secondary: #e8ecef;
$info: #d1eaff;
$success: #cce8d8;
$warning: #fef1d0;
$error: #ffd7d7;
$body-bg: #e8ecef;
$body-color: #333;
$component-bg: #dde2e6;
$component-color: #333;
$card-cap-bg: #dde2e6;
$card-cap-color: #333;
$series-a: #008fd3;
$series-b: #99d101;
$series-c: #f39b02;
$series-d: #f05662;
$series-e: #c03c53;
$series-f: #acacac;
