$base-theme:Bootstrap;
$skin-name:memba;
$swatch-name:Bootstrap;
$border-radius: 0.25rem;
$accent: #428bca;
$secondary: #e8e8e8;
$info: #17a2b8;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;
$body-bg: #f8f8f8;
$body-color: #292b2c;
$component-bg: #f8f8f8;
$component-color: #292b2c;
$card-cap-bg: #e8e8e8;
$card-cap-color: #292b2c;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;
