html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.k-overlay.k-loading {
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

header {
    height: 48px;
    background-color: #011;
    flex: 0 0 auto;
}

header > img {
    padding: 2px 5px;
}

main {
    display: flex;

    /* flex: 1 1 100%; */
    flex: 1 1 auto;
    flex-direction: column;
}

footer {
    border-top: solid 1px #c5c5c5;
    flex: 0 0 auto;
    height: 35px;
}

footer > div {
    padding: 8px;
}

/*************************************************
course.design
************************************************ */

/*************************************************
course.play
************************************************ */

/*************************************************
flashcards.design
************************************************ */

/*************************************************
flashcards.play
************************************************ */
.k-scrollview {
    flex: 1;
}

.c {
    margin: 0;

    /* padding: 25px 63px; */
    padding: 1em;
    position: relative;
    box-sizing: border-box;
    height: calc(100% - 2 * 1em);
    width: calc(100% - 2 * 1em);
}

.side {
    background-color: #fff;
    border: solid grey 1px;
    border-radius: 2em;

    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75); */
    cursor: pointer;
    padding: 2em;
    position: absolute;
    height: 100%;
    width: 100%;
}

/*************************************************
smartquiz.design
************************************************ */

.no-scroll {
    overflow: initial;
}

main > .k-splitter {
    flex: 1 1 auto;
    height: 100%;
    border-bottom: 0;
    border-top: 0;
}

.kj-navigation {
    border: 0;
    background-color: #f8f9fa;
}

#center-pane {
    display: flex;
    flex-direction: column;
    touch-action: none;
}

.wrapper {
    align-items: center;
    display: flex;
    flex: 1 1;
    justify-content: center;
    background-color: #f8f9fa;
}

.centered > .kj-stage {
    transform-origin: 0 0;
}

#player-wrapper [data-role="stage"],
[data-role="stage"]:focus {
    border-color: #f8cfd7;
    box-shadow: 0 0 0 0.2rem rgba(231, 96, 123, 0.25);
    outline: 0;
}

#console-panelbar {
    border-bottom: 0;
}

#right-pane .k-panelbar {
    border-top: 0;
}

#right-pane .k-grid-content.k-auto-scrollable {
    /* Remove scrollbars from property grid */
    overflow-y: visible;
}

/*************************************************
smartquiz.play
************************************************ */
#player-wrapper,
#score-wrapper {
    flex: 1 1 100%;
    display: flex;
    align-items: stretch; /* center */
    justify-content: center;
}

#player-wrapper .nav {
    text-decoration: none;
    cursor: pointer;
}

#player-wrapper .nav>.k-icon {
    font-size: 3em;
}

#player-wrapper .k-block.k-info-colored {
    min-width: 200px;
    width: 25%;
    max-width: 400px;
    border-radius: 0;
    border-width: 0 0 0 1px;
}

#score-wrapper div.k-block div:last-of-type {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}
