@include exports( "widgets.navigation/theme" ) {
    .kj-navigation-item {
        background-color: $button-bg;

        &.k-state-hover {
            background-color: $button-hovered-bg;
        }

        &.k-state-selected {
            background-color: $selected-bg; // $primary-button-bg
        }
    }
}
