@include exports( 'widgets.formatstrip/layout' ) {
    .kj-formatstrip {
        .k-tabstrip {
            border: none;

            .k-tabstrip-items {
                .k-item {
                    border-bottom-width: 5px;
                }
            }

            .k-content {
                border-left: 0;
                border-right: 0;
                margin: 0 !important;
                padding: 0 !important;
            }
        }

        /*
        .k-spreadsheet-toolbar {
            .k-button.k-state-disabled,
            .k-button-group.k-state-disabled,
            .k-dropdown-wrap.k-state-disabled,
            .k-widget.k-state-disabled,
            .k-button.k-state-disabled:hover,
            .k-button-group.k-state-disabled:hover,
            .k-widget.k-state-disabled:hover {
                border-color: transparent;
                background-color: transparent;
                background-image: none;
                opacity: 0.7;

                .k-input {
                    background-color: transparent !important;
                    background-image: none;
                }

                .k-icon:nth-child(2) {
                    opacity: 0.2;
                }
            }
        }
         */
    }
}
