@include exports( "widgets.basiclist/layout" ) {
    .m-basiclist {
        > .k-toolbar {
            // border-bottom: none;
            border-left: none;
            border-right: none;
            border-top: none;
        }

        > .k-listview {
            border: none;
            margin: 0;
            padding: 0;

            .k-icon {
                color: inherit;
            }
        }
    }

    // Cursor
    body > .k-list-item > .m-handle,
    .m-basiclist > .k-listview:not(.k-disabled) > .k-listview-content > .k-list-item > .m-handle {
        cursor: move;
    }

    // We also need body > k-list-item for draggable hints
    body,
    .m-basiclist > .k-listview > .k-listview-content {
        .k-list-item {
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            padding: 2px;

            > .m-handle {
                width: 1rem;
            }

            > .m-input-wrap {
                flex: 1 1 auto;
                overflow: hidden;
                position: relative;
                text-overflow: ellipsis;
                white-space: nowrap;

                input {
                    width: 100%;
                }

                .k-invalid-msg {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }

            > .m-buttons {
                align-items: center;
                display: flex;
                flex: 0 0 auto;
                flex-flow: row nowrap;

                .k-button {
                    height: 2rem;

                    &:first-child {
                        border-radius: 0.25rem 0 0 0.25rem;
                    }

                    &:last-child {
                        border-radius: 0 0.25rem 0.25rem 0;
                    }
                }
            }
        }
    }
}
