@include exports( "widgets.basiclist/layout" ) {
    .kj-basiclist {
        > .k-toolbar {
            // border-bottom: none;
            border-left: none;
            border-right: none;
            border-top: none;
        }

        > .k-listview {
            border: none;
            padding: 0;
            margin: 0;

            .k-icon {
                color: inherit;
            }
        }
    }

    // Cursor
    body > .k-list-item > .kj-handle,
    .kj-basiclist > .k-listview:not(.k-state-disabled) > .k-list-item > .kj-handle {
        cursor: move;
    }

    // we also need body > k-list-item for draggable hints
    body,
    .kj-basiclist > .k-listview {
        > .k-list-item {
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            padding: 2px;

            > .kj-handle {
                width: 1em;
            }

            > .kj-inputs {
                flex: 1 1 auto;
                overflow: hidden;
                position: relative;
                text-overflow: ellipsis;
                white-space: nowrap;

                input {
                    width: 100%;
                }

                .k-tooltip-validation {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }

            > .kj-buttons {
                align-items: center;
                display: flex;
                flex: 0 0 auto;
                flex-flow: row nowrap;

                .k-image {
                    height: 2em;
                    width: 2em;
                }

                .k-button {
                    height: 2em;
                }
            }
        }
    }
}
